.signupParentDiv {
    /* border: 1px solid black;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
    border-radius: 6px; */
    width:300px;
    height: 588px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
 /* From https://css.glass */
/* From https://css.glass */
background: rgba(0, 0, 0, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.3px);
-webkit-backdrop-filter: blur(9.3px);
border-radius: 13px; 
  }
  
  .signupParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    width: 192px;
height: 40px;
    outline: none;
    border: none;
background: #4C3575;
border-radius: 10px;
color: #fff;
  }
  
  .signupParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    color: whitesmoke;
    font-weight: 900;
    /* width: 210px;
height: 56px; */
border: none;
border: 0.5px solid rgb(0, 0, 0);
background: #2E0249;
border-radius: 8px;
  }
  .signupParentDiv button:hover {
    background-color: #371B58;
    color: #fff;
    border: 2px solid #fff;
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
      margin-top: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
text-decoration-line: underline;

color: #fff !important;
  }
  .signupParentDiv a:hover{
    color: rgb(124, 124, 124) !important;
    cursor: pointer;
  }
  .signupParentDiv img{
    width: 95px;
    height: 97px;
  }
  .signupParentDiv label{
    color: #fff;
    font-weight: 500;
  }