.moreView {
  margin: 16px 16px 24px;
  padding: 16px 16px 32px;
  background-color: #371B58;
  border-radius: 10px;
}
.postParentDiv{
  margin-top: 75px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.heading :first-child {
  font-size: 24px;
  color: #ffffff;
}

.heading :last-child {
  font-size: 14px;
  color: #002f34;
}

.recommendations .cards {
  display: flex;
}

.moreView .cards {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card {
  margin-right: 15px;
  padding: 13px;
  max-width: 222px;
  width: 222px;
  height: 285px;
  margin-bottom: 16px;
  display: inline-block;
  cursor: pointer;
 
background: #16003B;
border-radius: 10px;
cursor: pointer;

}
.card:hover{
border: 1px solid rgb(255, 255, 255);
}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  text-align: center;
  width: 200px;
height: 150px;
border-radius: 10px;
object-fit: cover;
}
.card .content .rate {
  text-align: center;
height: 42px;
margin-top: -10px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
/* line-height: 42px; */

color: rgba(173, 255, 0, 0.97);

}
.card .content .kilometer {
  font-size: medium;
}
.card .content .name {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 189px;
height: 42px;
margin-top: 7px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 42px;

color: #FFFFFF;

}
.card .date {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  position: absolute;
  top: 244px;
  font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 10px;
margin-bottom: 20px;
color: #FFFFFF;

}

.recommendations {
  margin: 16px 16px 24px;
}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}
