@import url('https://fonts.googleapis.com/css2?family=Anton&family=Concert+One&family=Inter:wght@500&family=Press+Start+2P&display=swap');.headerParentDiv {
  padding: 10px;
  background-color: #290442 ;
  position: fixed;
  width: 100vw;
  z-index: 999;

  }

.headerChildDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.placeSearch {
  width: 16em;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 2px solid #002f34;
  border-radius: 4px;
  background-color: white;
}

.placeSearch ::selection {
  border-color: #23e5db;
  outline-color: #23e5db;
}

.placeSearch input {
  border-color: transparent;
  outline-color: transparent;
}

.productSearch {
  width: 35em;
  height: 48px;
  border: 2px solid #002f34;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productSearch .input {
  width: 100%;
  height: 100%;
  display: flex;
}

.productSearch .input input {
  border-color: transparent;
  outline-color: transparent;
  width: 100%;
  align-items: center;
}

.productSearch .searchAction {
  min-width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: #002f34;
  border-radius: 0 4px 4px 0;
}

.productSearch .searchAction svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
}

.language {
  height: 48px;
  display: flex;
  align-items: center;
}

.language span {
  /* justify-content: space-between;
  align-items: center; */
  font-size: 15px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}

/* .language svg {
} */

.span {
  text-decoration: none;
  font-size: 16px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}

.loginPage hr {
  margin: 0;
  background-color: black;
  height: 2px;
}
.loginPage  span {

font-weight: 700;
}
.headerChildDiv .Logout{
display: block;
  width: 82px;
  height: 36px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav a{
text-decoration: none;
  width: 82px;
  height: 36px;
  margin-left: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.headerChildDiv .Logout:hover{
 color:rgb(146, 146, 146) ;
   cursor: pointer;
}
.loginPage .login{
  margin-left: 47px;
}
.loginPage{
  
box-sizing: border-box;

width: 150px;
height: 51px;

border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin-right: 20px;
border-radius: 13px;
margin-top: 3px;
}
.loginPage span{
  cursor: pointer;
  position: absolute;
  top: -97px;  
  width: 105px;
height: 29px;
margin-top: 100px;
font-family: 'Concert One';
font-style: normal;
font-weight: 400;
font-size: 27px;
/* line-height: 29px; */
margin-left: 58px;
/* identical to box height */


color: rgba(236, 236, 236, 0.96);


}
.loginPage img{
  width: 40px;
  position: absolute;
  top: 64px;
  height: 37.52px;
border-radius: 23px;
margin-top: -58px;
margin-left: 3px;
}
.loginPage .hide{
  visibility: hidden;
}
.loginPage a{
  text-decoration: none;
}

.sellMenu {
  position: relative;
  cursor: pointer;
}

.sellMenu .all {
  fill: white;
}

.sellMenu .top {
  fill: #23e5db;
}

.sellMenu .left {
  fill: #ffce32;
}

.sellMenu .right {
  fill: #3a77ff;
}
.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #002f34;
}

/* .sellMenu .sellMenuContent svg {
  align-items: center;
} */
.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .placeSearch,
  .productSearch,
  .sellMenu {
    display: none;
  }
  .headerParentDiv hr,
  .headerChildDiv span{
    margin-right: 20px;
  }
}

.brandName img{
  width: 50px;
  height: 50px;
  
}

.search-bar input{
  padding: 10px;
box-sizing: border-box;
color: #fff;
width: 440px;
height: 45px;
border: none;
outline: none;
background: #3b0c5a;
border-radius: 10px;
}

.search-bar input::placeholder{
  padding: 10px;
  color: #fff;
}
 .btn{
  
position: absolute;
width: 82px;
height: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.loginPage .imageHide{
  display: none;
}
.sellBtn{
  
position: fixed;
top: 560px;
left: 50%;
transform: translate(-50%, -50%);
width: 200px;
height: 50px;

background: #E80F88;
cursor: pointer;
border-radius: 20px;

}
.sellBtn:hover{
  transition: all 0.5s ease-in-out;
  background: #27013f;
  cursor: pointer;
  border: 1px solid #E80F88;
}
.sellBtn a{
  text-decoration: none;
  font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 15px;
    /* margin-top: 5px; */
    line-height: 20px;
    color: #FFF5E4;
}

.sellBtn .one{
  position: absolute;
  left: 150px;
  top: 23px;
  width: 30px;
  height: 0px;
  background: #D9D9D9;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  transform: rotate(180deg);
}
.sellBtn .two{
  position: absolute;
  left: 150px;
  top: 23px;
  width: 30px;
  height: 0px;
  background: #D9D9D9;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  transform: rotate(90deg);
}